body {
    background: linear-gradient(135deg, #CEE0F4 0%, #ffffff 100%);

}

.container{
    display: flex;
    justify-content: center;
    padding: 5rem;
    align-items: center;
}

.card{
    background-color: #fff;
    padding: 4rem;
    border-radius: 20px;
}

.card h1{
    text-align: center;
    margin-bottom: 0.5rem;
}

.card p{
    text-align: center;
    color: grey;
    padding-bottom: 1.5rem;
}

.details label{
    font-weight: 600;
}
.details input[type="text"],
.details input[type="password"]{
    display: flex;
    padding: 0.75rem;
    font-size: 1rem;
    width: 100%;
    border: 2px solid rgb(216, 216, 216);
    margin-bottom: 20px;
    border-radius: 10px;
}

.details input:focus{
    outline: none;
    border-color: aqua;
}

.details input::placeholder{
    color: rgb(189, 188, 188);
}

button{
    width: 100%;
    margin-left: 15px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bolder;
    background-color: aqua;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease-in;
}

button:hover{
    border: 2px solid aqua;
    background-color: #fff;
    color: aqua;
    transform: translateY(-2px);
    box-shadow:  0 10px 20px rgb(180, 210, 210);
    
}

button:active{
    
    transform: translateY(0)
}